*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: rgb(53,58,54);
    width: 100%;
}

.img-logo{
    height: 70px;
    text-align: center;
}

.comprar-ticket{
    color: green;
}

h2{
    display: inline-block;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0;
    padding: 15px;
}

.logo{
    display: inline-block;
    color: white;
}

nav{
    float: right;
    padding: 15px;
}

a{
    color: white;
    text-decoration: none;
    padding: 20px;
}