*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-column{
    text-align: center;
    margin: 5px -10px 5px;
}

.card {
    padding-top: 20px;
    border: 1px solid rgb(0,123,255); 
}

.card-subtitle{
    margin-bottom: 25px;
}

.card-title {
    margin-bottom: 25px;
}

.footer{
    background-color:rgb(29,62,69);
    
}

.footer li a{
    color:white !important;
    text-decoration: none;
}

.footer ul.list-inline {
    display: flex;
    justify-content: center;
    }

    @media (max-width: 576px) {
    .footer ul.list-inline {
        flex-wrap: wrap;
    }

    .footer ul.list-inline li {
        flex: 0 0 50%;
    }
}